pip
setuptools
wheel

pytest
pytest-html
allure-pytest
pytest-cov

pytest-xdist
pytest-ordering
pytest-rerunfailures

pytest-sugar

selenium
virtualenv

HTMLTestRunner-Python3

pyyaml
pandas

PyMySQL
xlutils
xlwt

ddt
numpy==1.19.3
xlrd==1.2.0
